<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>252463646565-hdlp2be8jnspmpv15k18aikqifru0b3v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.252463646565-hdlp2be8jnspmpv15k18aikqifru0b3v</string>
	<key>API_KEY</key>
	<string>AIzaSyA43zixcJVTxWo1fnREQ3TbxTQaPuIIqAg</string>
	<key>GCM_SENDER_ID</key>
	<string>252463646565</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.modernlogintute</string>
	<key>PROJECT_ID</key>
	<string>modernlogintute-dc4b8</string>
	<key>STORAGE_BUCKET</key>
	<string>modernlogintute-dc4b8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:252463646565:ios:bcd904254bd02e4d6b838c</string>
</dict>
</plist>